body {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #181714;
    color: #e2ddca;
    font-family: 'DM Sans', sans-serif;
    font-size: 1.4em;
}

.videopost-main {
    display: flex;
    justify-content: center;
}

.newpost-title {
    color: #a38f13;
    font-size: large;
}

.newpost-main {
    display: flex;
    justify-content: center;
    width: 100%;
}

.newpost {
    background-color: #22201a;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 35%;
}

.videopost {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
}

.video-one {
    background-color: #22201a;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 40%;
}

.video-two {
    background-color: #22201a;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 40%;
}

.index {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.quote {
    background-color: #22201a;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    width: 400px;
}

.index-text {
    background-color: #22201a;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
    text-align: justify;
}

.index-left {
    display: flex;
    flex-direction: column;
    width: 35%;
    margin: 20px;
    padding: 30px;
}

.index-right {
    width: 65%;
    margin: 30px;
    padding: 30px;
}

#myCarousel {
    width: 400px;
    height: 800px;
    background-color: #22201a;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    color: #e2ddca;
}

.carousel-inner {
    display: flex;
    align-content: flex-start;
    flex-direction: column;
    height: 100%;

}

.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
    color: #e2ddca;
}


.carousel-indicators li {
    color: #e2ddca;
}

.carousel-indicators .active {
    background-color: #a38f13;
}

.carousel-caption {
    position: static;
    padding: 20px;
}

.carousel-title {
    margin: 0;
    font-size: 2rem;
    text-align: center;
    color: #e2ddca;
}

.btn-default {
    align-self: center;
    background-color: #a38f13;
    border-color: #22201a;
}
    .btn-default:hover {
        background-color: #61550b; 
        color: #181714;
        border-color: #22201a;
    }

.navbar {
    background-color: #22201a;
    border: none;
    border-radius: 5px;
    margin-bottom: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
}

    .navbar .container {
        display: flex;
        align-items: center; 
        justify-content: space-between; 
    }

.navbar-brand {
    display: flex;
    align-items: center; 
    padding: 0 15px; 
}

    .navbar-brand img {
        height: 70px; 
        width: auto; 
    }

.navbar-nav {
    display: flex;
    align-items: center; 
}

    .navbar-nav > li {
        margin: 0 10px; 
    }

.links-li {
    background-color: #22201a;
    border: none;
    border-radius: 5px;
    margin-bottom: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);

    margin: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#links {
    color: #a38f13;
    font-weight: bold;
    width: 20%;
}

.intend {
    width: 80%;
    text-align: justify;
    border-left: 2px solid;
    border-color: #a38f13;
    padding-left: 20px;
}

 .intend {
    text-indent: 20px;
 }

 .logo_links {
     width: 150px;
     height: 100px;
     border-radius: 5px;
 }

.blog {
    background-color: #22201a;
    border: none;
    border-radius: 5px;
    margin-bottom: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
    margin: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.blog-title {
    text-decoration: underline;
}

.blog-posted {
    font-size: small;
    color: #61550b;
}

.blog-description {

}

.blogpost {
    background-color: #22201a;
    border: none;
    border-radius: 5px;
    margin-bottom: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
    margin: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
}

.blogpost-left {
    display: flex;
    justify-content: center;
    width: 30%;
    margin: 20px;
    padding: 30px;
}

.blogpost-right {
    display: flex;
    flex-direction: column;
    width: 70%;
    text-align: justify;
    margin: 20px;
    padding: 30px;
}

.blogpost-center {
    display: flex;
    justify-content: center;
    width: 100%;    
}

.blogpost-down {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.blogpost-title {
    color: #a38f13;
    text-align: center;
    text-decoration: underline;
}

.blogpost-comments{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}


.comment-form {
    background-color: #22201a;
    border: solid #61550b 2px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
    margin: 20px;
    padding: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 30%;
    text-align: justify;
}

.comments-all {
    background-color: #22201a;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
    margin: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    width: 70%;
    text-align: justify;
}

.comments-each {
    border: solid #61550b 2px;
    border-radius: 5px;
    margin: 20px;
    padding: 30px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
    background: linear-gradient(to right, #61550b, #22201a 15%, #22201a, #22201a);
}

.comment-left {
    display: flex;
    align-content: center;
    justify-content: center;
    border-right: solid #a38f13 1px;
    padding-right: 30px;
}

.comment-right {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    text-align: justify;
    padding-left: 20px;
}

.comment-posted {
    font-size: small;
    color: #61550b;
}

.about {
    background-color: #22201a;
    border: none;
    border-radius: 5px;
    margin-bottom: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
    margin: 50px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: justify;
}

.contacts {
    background-color: #22201a;
    border: none;
    border-radius: 5px;
    margin-bottom: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
    margin: 50px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: justify;
}

.registration {
    background-color: #22201a;
    border: none;
    border-radius: 5px;
    margin-bottom: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
    margin: 50px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: justify;
}

.a-f {
    display: flex;
    justify-content: center;
}

.applic-form {
    background-color: #22201a;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
    margin: 30px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: justify;
    justify-content: center;
}

.login {
    background-color: #22201a;
    border: none;
    border-radius: 5px;
    margin-bottom: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
    margin: 50px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: justify;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

