{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>

 <div class="main_page">
        <p><strong>Блог о кино.</strong><br> Ты точно найдешь что посмотреть</p>
            <p><strong>Что мы предлагаем:</strong></p>
            <ul>
                <li>Будь в курсе новинок</li>
                <li>Веди личную страницу</li>
                <li>Общайся с другими MovieHunter'ами</li>
                <li>Делись своими впечатлениями и составляй рецензии</li>
                <li>Создавай и просматривай подборки</li>
            </ul>
</div>

{% endblock %}
