{% extends "app/layout.html" %}

{% block content %}
<!--
<div class="main-title">
    <h2>{{ title }}</h2>
</div>
-->
{% for post in posts %}
<div class="blog">
    <!--style="background-image: url({{ blog.image.url }})"-->
    <div class="content">
        <h2 class="blog-title">{{ post.title }}</h2>
        <h4 class="blog-posted">{{ post.posted }}</h4>
        <p class="blog-description">{{ post.description }}</p>
        <p><a id="links" href="{% url 'blogpost' parametr=post.id %}">Читать далее...</a></p>
    </div>
    <div class="blog_info">

    </div>
</div>
{% endfor %}
{% endblock %}