{% extends "app/layout.html" %}



{% block content %}
{% load static %}

<div class="links">
    <p>
        <ul>
            <li>
                <a id="links" href="https://www.historyvshollywood.com/" target="_blank"><img class="logo_links" src="{% static 'app/content/hist.jpg' %}" alt="Logo 1"> <br>History vs. Hollywood</a><br>
                <p class="intend">
                    Этот сайт — настоящая находка для киноманов, желающих разобраться, насколько точно Голливуд передает реальные события. "История против Голливуда" сравнивает факты и художественную интерпретацию, делая акцент на исторической и фактической точности фильмов. Здесь вы найдете подробные разборы, сопоставления реальных людей и их экранных образов, а также оценки точности изображения событий и персонажей. Сайт идеально подходит для тех, кто хочет понять, где Голливуд приукрасил историю ради драматизма.
                </p>
            </li>
            <li>
                <a id="links" href="https://t.org/ru/" target="_blank"><img class="logo_links" src="{% static 'app/content/where.jpg' %}" alt="Logo 2"> <br>Where Filmed - база кинолокаций</a><br>
                <p class="intend">
                    Любопытно узнать, где снимались ваши любимые сцены из фильмов? На этом сайте собрали гигантскую базу локаций из фильмов. Обычно можно увидеть точную информацию где снимали сцену, фотографии с места съемок, кадры из фильма (Сравнить как реальность показали в кино), а также адреса, GPS, информацию почему выбрали эту локацию. Этот сайт — истинное сокровище для путешественников и киноманов, желающих посетить места съемок своих любимых фильмов.
                </p>
            </li>
            <li>
                <a id="links" href="https://playphrase.me/" target="_blank">PlayPhrase.me</a><br>
                <p class="intend">
                    Это уникальный ресурс для исследования диалогов из фильмов. Введите фразу, и сайт найдет клипы, где эта фраза звучит. Это отличный инструмент для изучения языка, развлечения и нахождения тех самых моментов, которые вы хотите поделиться с друзьями, а также будет полезен блогером для нахождения визуальных цитат. Сайт предлагает бесконечный поток видеоклипов по вашему запросу, делая просмотр фраз из кино не только полезным, но и увлекательным занятием.
                </p>
            </li>
            <li>
                <a id="links" href="https://www.imcdb.org/" target="_blank"><img class="logo_links" src="{% static 'app/content/imcdb.jpg' %}" alt="Logo 3"> <br>IMCDB - База автомобилей в кино</a><br>
                <p class="intend"> Давно хотели узнать в каких зарубежных фильмах мелькала копейка или нива? Любители автомобилей, радуйтесь! IMCDB предоставляет полную базу данных автомобилей, мотоциклов, грузовиков и других транспортных средств, появлявшихся в фильмах. От классических до современных, от ситуаций когда автомобиль играет главную роль, до случайного появления на фоне— здесь собрана информация о каждом транспортном средстве, когда-либо попавшем в кадр. Это прекрасный ресурс для тех, кто хочет знать больше о транспортных средствах в кино или найти свою мечту на экране.
                </p>
            </li>
        </ul>
    </p>

</div>

{% endblock %}