{% extends "app/layout.html" %}

{% block content %}
<div class="newpost-main">
    <div class="newpost">
        <div class="newpost-title">Добавить статью</div>
        <div class="newpost-form">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div>
                    {{ blogform.as_p }}
                    <button type="submit" class="save btn btn-default">Сохранить статью</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}