{% extends "app/layout.html" %}

{% block content %}
<div class="videopost-main">
    <div class="videopost">
        <div class="video-one">
            <div class="video-one-title">"Lilo and Stitch" Movie trailer</div>
            <video src="/media/lilo.mp4" controls="controls" width="400" height="300" poster="/media/lilo.jpg"></video>
        </div>

        <div class="video-two">
            <div class="video-two-title">"The lust of us" Season 2 trailer</div>
            <video src="/media/tlou.mp4" controls="controls" width="400" height="300" poster="/media/tlou.jpg"></video>
        </div>
    </div>
</div>

{% endblock %}